@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lato:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html, body {
	position: relative;
	width: 100%;
    height: 100%;
    margin: 0;
}

body {
	text-align: center;
	background: linear-gradient(180deg, #ffffff, #ffffff, #f1eff2, #d1cdd5);
	color: rgb(48, 53, 89);
	padding: 2em;
	box-sizing: border-box;
	font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Typography */

h1 {
	font-size: 3.8rem;
	font-family: 'DM Serif Text';
	letter-spacing: 0.02em;
}

h2 {
	font-size: 2rem;
	font-weight: 100;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1rem;
}

a {
	color: #F6386F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #da295b;
}

/* Forms */

label {
	display: block;
}

input, button, select, textarea {
	max-width: 400px;
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0.2em auto;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

/* Buttons and Nav */

button {
	border: none;
	background: none;
}

.button {
	color: rgb(247, 247, 243);
	background: linear-gradient(180deg, #2e82ff, #1762e4);
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	border: none;
	border-radius: 8px;
	padding: 1em 1.2em;
	margin: 1em auto;
	cursor: pointer;
	box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044),
    0 5.9px 4.2px rgba(0, 0, 0, 0.054), 0 12.6px 9.5px rgba(0, 0, 0, 0.061),
	0 25px 20px rgba(0, 0, 0, 0.1);
	transition: all 0.3s;
}

.button:disabled {
	color: #999;
}

.button:not(:disabled):active {
	background-color: #ddd;
}

.button:hover {
	border-color: #666;
	transform: scale(0.98);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06),
    0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.08),
    0 1px 3px rgba(0, 0, 0, 0.2);
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: left;
	padding-bottom: 1em;
}

nav a {
	padding: 0 12px;
}

.generator-container{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.prompt-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

.addPrompt {
	align-content: center;
	display: flex;
	max-width: 200px;
	margin: 12px auto 0;
}

.addPrompt span {
	color: rgb(152, 156, 187);
	text-align: center;
	position: relative;
	top: 16px;
	padding-right: 8px;
}

.addPrompt svg {
	display: block;
	position: relative;
}
/* Select boxes */

select {
	width: 200px;
	padding: 16px;
	border: 1px solid rgb(222, 227, 233);
	border-radius: 6px;
	box-shadow: -6px -6px 12px rgb(255, 255, 255), 3px 3px 20px rgba(63, 63, 79, 0.01), 6px 6px 24px rgba(0, 6, 30, .09);
}