@font-face {
    font-family: 'DM Serif Text';
    src: url('fonts/DMSerifText-Regular.woff2') format('woff2'),
        url('fonts/DMSerifText-Regular.woff') format('woff'),
        url('fonts/DMSerifText-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.woff2') format('woff2'),
        url('fonts/Lato-Regular.woff') format('woff'),
        url('fonts/Lato-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.woff2') format('woff2'),
        url('fonts/Lato-Bold.woff') format('woff'),
        url('fonts/Lato-Bold.ttf')  format('truetype');
    font-weight: 700;
    font-style: bold;
}

html, body {
	width: 100%;
	height: 100vh;
	margin: 0;
	background: linear-gradient(180deg, #ffffff, #ffffff, rgb(248, 247, 249), #d8d6de);
	color: rgb(48, 53, 89);
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	text-align: center;
	padding: 2em;
	box-sizing: border-box;
	font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Typography */

h1 {
	font-size: 3.8rem;
	font-family: 'DM Serif Text', serif;
	letter-spacing: 0.02em;
}

@media (max-width: 724px) {
	h1 {
		font-size: 3rem;
		margin: 1rem auto;
	}
}

h2 {
	font-size: 2rem;
	font-weight: 100;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1rem;
}

div.promptResultWrapper {
	min-height: 170px;
	max-height: 100%;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

p.placeholderText {
	color: rgb(136, 139, 165);
	font-size: 1rem;
	position: relative;
	bottom: -4em;
}

p.promptResult {
	margin: 0.4em;
	font-size: 2.2rem;
	line-height: 1.5;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

span.promptVariable {
    color: rgb(35, 122, 228);
    font-weight: 700;
}

@media (max-width: 724px) {
	p.promptResult {
		margin: 0.4em;
		font-size: 1.6rem;
		line-height: 1.5;
	}
}


/* Forms */

label {
	display: block;
}

input, button, select, textarea {
	max-width: 400px;
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0.2em auto;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

/* Buttons and Nav */

button {
	border: none;
    background: none;
    cursor: pointer;
}

button:focus {
	outline: none;
}

.promptButton {
	color: rgb(247, 247, 243);
	background: linear-gradient(180deg, #2e82ff, #1762e4);
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	border: none;
	border-radius: 8px;
	padding: 1em 1.2em;
	margin: 1em auto;
	cursor: pointer;
	box-shadow: 0 2.1px 1.3px rgba(0, 0, 0, 0.044),
    0 5.9px 4.2px rgba(0, 0, 0, 0.054), 0 12.6px 9.5px rgba(0, 0, 0, 0.061),
	0 25px 20px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;
}

@media (max-width: 724px) {
	.promptButton {
		font-size: 1em;
	}
}

.promptButton:disabled {
	color: #999;
}

.promptButton:not(:disabled):active {
	background-color: #ddd;
}

.promptButton:hover {
	transform: scale(0.98);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06),
    0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.08),
    0 1px 3px rgba(0, 0, 0, 0.2);
}

.promptButton:focus {
	outline: none;
}

a {
	color: #F6386F;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #da295b;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: left;
	padding-bottom: 1em;
}

nav a {
	padding: 0 12px;
	opacity: 75%;
	transition: all 600ms;
}

nav a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: #f8b3c7;
	text-decoration-thickness: .12em;
	text-underline-offset: 6px;
	transition: all 600ms;
}

.generator-container{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	max-width: 660px;
	margin: 0 auto;
}


/* Select boxes */
